<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div style="padding: 10px; display: flex; justify-content: space-between;">
        <h3 >Book Store</h3>
        <h3>Stan Jr</h3>
    </div>
    <div style="padding-left: 50px; padding-right: 50px;">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>